<footer class="bg-dark text-light">
    <div class="row text-center">
      <div class="col-lg-4 col-md-4">
        <img src="https://allsportsapi.com/logo/logo_leagues/177_ligue-2.png" alt="French league 2">
        <br>
        <br>
        <p>French League 2</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <p><a href="http://twitter.com">Follow us on Twitter: </a><i class="fab fa-twitter fa-lg"></i></p>
        <p><a href="http://facebook.com">Follow us on Facebook: </a><i class="fab fa-facebook fa-lg"></i></p>
        <p><a href="http://instagram.com">Follow us on Instragram: </a><i class="fab fa-instagram fa-lg"></i></p>
        <p>Copyright © 2020</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <img src="https://allsportsapi.com/logo/logo_country/46_france.png" alt="French Flag">
        <br>
        <br>
        <p>Republic of France</p>
      </div>
    </div>
  </footer>